.toolbar{
    padding:10px 0;
}

.clear-padding{padding:0}
.clear-padding-left{padding-left:0;}
.clear-padding-right{padding-right:0;}
.clear-padding-top{padding-top:0;}
.clear-padding-bottom{padding-bottom:0;}